# Sample dotenv file, use as a description to create a file for your environment

BOT_TOKEN="" # self-explanatory, telegram bot token
BOT_ID="" # telegram user_id of a bot itself, mostly used for some minor validations and system checks
BOT_ADMIN_ID="123456" # telegram user_id of a person who would be considered a bot creator, used in admin commands

# PostgreSQL database credentials
PGUSER="postgres"
PGPASSWORD="postgres"
PGHOST="localhost"
PGDATABASE="postgres"
PGPORT="5432"

# scraper Xbox Live account credentials
XBL_USER=""
XBL_PASSWORD=""
